<div id="top-bar">
	<div class="inner">
		<ul class="linklist">
			<li class="small-icon link">
                <a href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->">Home</a>
            </li>

			<!-- EVENT quickstyle_event -->
			<li class="small-icon link rightside"><a href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}/logout<!-- ELSE -->{U_LOGIN_LOGOUT}<!-- ENDIF -->" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
		</ul>
	</div>
</div>
