X      <div class="modal-header">
      <button type="button" class="icon__modal_close" ng-click="close($event)"></button>
        <h4 class="modal-title" id="myModalLabel">OBJECTIVES</h4>
      </div>
      <div class="modal-body  clearfix " style="padding-bottom: 0px !Important;">

        <div class="col-md-12 objectives__header">
            <div class="profile_statistics profile_statistics--objectives profile_statistics--objectives-score clearfix">
                <div class="icon icon__objective"></div>
                <div class="pull-left">
                    <div class="profile_statistics__label profile_statistics__label--objectives text-center pad-l-0 mar-l-0">OBJECTIVES PROGRESS</div>
                    <div class="meter meter--objectives meter--objectives-score">
                        <span style="width:85%"></span> <i>320/650</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
          <div class="library_header_info">ACHIEVEMENTS</div>
        </div>
        <div class="clearfix  table_objectives">
              <div class="left_table left_table--black">
                  <ul class="objectives_menu">
                      <li class="objectives_li objectives_li--objectives ">
                          <a href="" class="active">ACTIVE</a>
                      </li> 
                      <li class="objectives_li objectives_li--objectives ">
                          <a href="">DISTANCE</a>
                      </li>
                      <li class="objectives_li objectives_li--objectives ">
                          <a href="">SPEED</a>
                      </li>
                      <li class="objectives_li objectives_li--objectives ">
                          <a href="">TIME</a>
                      </li>
                      <li class="objectives_li objectives_li--objectives ">
                          <a href="">ELEVATION</a>
                      </li>
                      <li class="objectives_li objectives_li--objectives ">
                          <a href="">CALORIES</a>
                      </li>
                      <li class="objectives_li objectives_li--objectives ">
                          <a href="">BONUS</a>
                      </li>
                  </ul>
              </div>
              <perfect-scrollbar class="scroller objectives-right-scroll scroll-pane-moz" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
              <div class="pull-left ">

                      <div class="clearfix padl-10" >
                          <div class="ridesearch_item">
                              <div class="pull-left ">
                                  <div class="icon icon__objective pull-left"></div>
                                  <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                      <i class="icon__arrow arrow__down users__arrow_down ridedetails_info_show __arrow"></i>
                                  </div>
                              </div>
                              <div class="reward pull-left">
                                  <div class="reward__completed">
                                      <div>COMLETED</div>
                                      <div class="reward__value green">
                                         02.22.15
                                      </div>
                                  </div>
                              </div>    

                              <div class="reward pull-left">


                                  <div class="reward__text">
                                      <div>REWARD:</div>
                                      <div class="reward__value">
                                         10<span class="green">XP</span>
                                      </div>
                                  </div>
                                  <div class="reward__icon pull-left">
                                      <div class="icon icon__2"></div>
                                      <div class="icon trophy_empty ml10"></div>
                                  </div>
                              </div>

                          </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--objectives meter--objectives-score">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row table  -->
                               
                      <div class="clearfix padl-10" >
                          <div class="ridesearch_item">
                              <div class="pull-left ">
                                  <div class="icon icon__objective pull-left"></div>
                                  <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                      <i class="icon__arrow arrow__down users__arrow_down ridedetails_info_show __arrow"></i>
                                  </div>
                              </div>
                              <div class="reward pull-left">
                                  <div class="reward__completed">
                                      <div>COMLETED</div>
                                      <div class="reward__value green">
                                         02.22.15
                                      </div>
                                  </div>
                              </div>    

                              <div class="reward pull-left">


                                  <div class="reward__text">
                                      <div>REWARD:</div>
                                      <div class="reward__value">
                                         10<span class="green">XP</span>
                                      </div>
                                  </div>
                                  <div class="reward__icon pull-left">
                                      <div class="icon icon__2"></div>
                                      <div class="icon trophy_empty ml10"></div>
                                  </div>
                              </div>

                          </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--objectives meter--objectives-score">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row table  -->                      
                      <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                       <div class="clearfix padl-10 objectives--inactive" >
                            <div class="ridesearch_item">
                                <div class="pull-left ">
                                    <div class="icon icon__objective--inactive pull-left"></div>
                                    <div class="ridesearch_item_ridename pull-left objectives__name">DISTANCE OBJECTIVE #089
                                        <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show __arrow"></i>
                                    </div>
                                </div>
                                <div class="reward pull-left ">
                                    <div class="reward__completed">
                                        <div>COMLETED</div>
                                        <div class="reward__value">
                                           02.22.15
                                        </div>
                                    </div>
                                </div>    

                                <div class="reward pull-left">


                                    <div class="reward__text">
                                        <div>REWARD:</div>
                                        <div class="reward__value">
                                           10<span class="green">XP</span>
                                        </div>
                                    </div>
                                    <div class="reward__icon pull-left">
                                        <div class="icon trophy_empty"></div>
                                        <div class="icon trophy_empty ml10"></div>
                                    </div>
                                </div>

                            </div>
                              <div class="ridesearch_details objectives__info clearfix ">
                                  <div class="objectives__info__description pull-left">
                                     RIDE AT LEAST 100 MILES TOTAL ACROSS AN UNLIMITED AMOUNT OF RID
                                  </div>
                                  <div class="pull-left objectives__info__progress">
                                      <div class="profile_statistics__label profile_statistics__label--objectives text-center">PROGRESS</div>
                                    <div class="meter meter--inactive meter--objectives meter--objectives-score objectives--inactive">
                                      <span style="width:85%"></span> <i>320/650</i>
                                    </div>              
                                  </div>
                              </div>
                      </div> <!--/ end row innactive  --> 

                    
                  
              </div>
              </perfect-scrollbar>  
        </div><!--/ end table_objectives  -->
      </div> <!--/ end modal-body  -->
      <div class="modal-footer">
      </div><!--/ end modal-footer  -->

      <div ng-show="!tooltip_shown" class="tooltip_message objectives_popup_left_1"></div>
      <div ng-show="!tooltip_shown" class="tooltip_message objectives_popup_right_1"></div>
      <div ng-show="!tooltip_shown" class="tooltip_message objectives_popup_left_2"></div>
      <div ng-show="!tooltip_shown" class="tooltip_message objectives_popup_right_2"><span ng-click="exit_tutorial()"></span></div>
