<div class="clearfix upload_file_modal">

    <div class="modal-header">
      <button type="button" class="icon__modal_close" ng-click="close($event)"></button>
      <h4 class="modal-title" id="myModalLabel"><%title%></h4>
    </div>
    
    <form action="#" class="<%class_add%>" ng-submit="save()">
      
      <label for="feed_text"><%label_text%></label>

      <textarea id="feed_text" placeholder="<%placeholder_text%>"></textarea>

      <input type="submit" value="SUBMIT">

    </form>
  <div class="modal-footer"></div>
</div>
