      <div class="modal-header">
        <button type="button" class="icon__modal_close" ng-click="close($event)"></button>
        <h4 class="modal-title" id="myModalLabel">RIDE LIBRARY</h4>
      </div><!--/ end modal-header  -->

      <!-- <perfect-scrollbar class="scroller objectives-right-scroll " wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20"> -->
        <div class="modal-body modal-body-ng clearfix " style="padding-bottom: 0px !Important;">  
      		<div ng-include="'/assets/js/ng/views/modal/ridelibrary_search.html'"></div>   
        </div><!--/ end modal-body  -->  
      <!-- </perfect-scrollbar> -->
        
      <div class="modal-footer">
      </div><!--/ end modal-footer  -->      	


