<div class="clearfix padl-10" >
    <div class="ridesearch_item">
        <div class="pull-left ">
            <div class="icon icon__52 pull-left"></div>
            <div class="ridesearch_item_ridename pull-left achievements__name">ACHIEVEMENT NAME
                <i class="icon__arrow arrow__down arrow__down--inactive users__arrow_down ridedetails_info_show "></i>
            </div>
        </div>

        <div class="reward pull-left">
            <div class="reward__text">
                <div>REWARD:</div>
                <div class="reward__value">
                    10<span class="ap--inactive">AP</span>
                </div>
            </div>
            <div class="reward__icon pull-left">
                <div class="icon trophy_empty "></div>
                <div class="icon trophy_empty ml10"></div>
            </div>
        </div>

    </div>
    <div class="ridesearch_details achievements__info clearfix ">
        <div class="achievements__info__description border-right pull-left">
            ACHIEVEMENT TEXT WITH CRITERIA THAT CAN GO UP TO
            THREE LINES IN LENGTH.  ACHIEVEMENT TEXT WITH CRITERIA THAT CAN GO UP TO
        </div>
        <div class="pull-left achievements__info__progress">
            <div class="profile_statistics__label profile_statistics__label--achievements text-center">PROGRESS</div>
            <div class="meter meter--inactive meter--achievements-progress">
                <span style="width:100%"></span> <i>00%</i>
            </div>
        </div>
    </div>
</div>










<div class="clearfix padl-10 ng-scope">
    <div class="ridesearch_item">
        <div class="pull-left ">
            <div class="icon icon__6 pull-left"></div>
            <div class="ridesearch_item_ridename pull-left achievements__name">ACHIEVEMENT NAME
                <i class="icon__arrow arrow__down arrow__down--ap users__arrow_down ridedetails_info_show arrow__down"></i>
            </div>
        </div>

        <div class="reward pull-left">
            <div class="reward__text">
                <div>REWARD:</div>
                <div class="reward__value">
                    10<span class="ap">AP</span>
                </div>
            </div>
            <div class="reward__icon pull-left">
                <div class="icon icon__10 reward__icon_20 "></div>
                <div class="icon trophy_empty ml10"></div>
            </div>
        </div>

    </div>
    <div class="ridesearch_details achievements__info clearfix ">
        <div class="achievements__info__description border-right pull-left">
            ACHIEVEMENT TEXT WITH CRITERIA THAT CAN GO UP TO
            THREE LINES IN LENGTH.  ACHIEVEMENT TEXT WITH CRITERIA THAT CAN GO UP TO
        </div>
        <div class="pull-left achievements__info__progress">
            <div class="profile_statistics__label profile_statistics__label--achievements text-center">PROGRESS</div>
            <div class="meter meter--rides meter--achievements-progress">
                <span style="width:100%"></span> <i>100%</i>
            </div>
        </div>
    </div>
</div>